/hw-netbeans/hw5-circle/nbproject/private/
/hw-netbeans/hw5-circle/Shape/nbproject/private/
/hw-netbeans/hw5-circle/Shape/build/
/hw-netbeans/Stacking/nbproject/private/
/hw-netbeans/Stacking/build/
/1.IA/testFileChooser/nbproject/private/
/1.IA/testFileChooser/build/
/1.IA/JavaApplication7/nbproject/private/
/1.IA/Year7ReadingDifficulty/nbproject/private/
/1.IA/JavaApplication7/build/